<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="flexbox.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
    </div>
    <div class="container2">
      <div class="box2">A</div>
      <div class="box2">B</div>
      <div class="box2">C</div>
    </div>
    <div class="container3">
      <div class="box3">A</div>
      <div class="box3">B</div>
      <div class="box3">C</div>
      <div class="box3">D</div>
      <div class="box3">E</div>
      <div class="box3">F</div>
      <div class="box3">G</div>
      <div class="box3">H</div>
    </div>
    <div class="container4">
      <div class="box4 box-one">A</div>
      <div class="box4">B</div>
      <div class="box4">C</div>
    </div>
  </body>
</html>
