<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="floating-elements.css" />
  </head>
  <body>
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p class="clear">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
        laboriosam est qui rem quod ullam deserunt illo, vitae earum saepe cum
        facilis fugit necessitatibus voluptatem, tempore, at in provident illum
        commodi. Mollitia ullam ipsa hic aperiam atque sequi ipsum accusantium,
        incidunt suscipit voluptatibus natus repudiandae animi temporibus quia
        praesentium sapiente.
      </p>
    </article>
  </body>
</html>

<!-- Overall, floats are hard to handle, so it's not recommended to use them.
They were used before, when tools like Flexbox and grid weren't available, but nowadays it doesn't represent the best approach.
Still, there are many web pages out there that use floats, so it's good to know how to handle them. -->
