<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="grid.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
      <div class="box">D</div>
    </div>
    <div class="container2">
      <div class="box2 box2-one">A</div>
      <div class="box2 box2-two">B</div>
      <div class="box2 box2-three">C</div>
      <div class="box2 box2-four">D</div>
    </div>
    <div class="container3">
      <div class="box3 box3-one">A</div>
      <div class="box3">B</div>
      <div class="box3">C</div>
      <div class="box3 box3-four">D</div>
    </div>
  </body>
</html>
