<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="media-queries.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
          accusamus sint provident velit, rerum quidem error ex perferendis
          omnis doloremque facilis aperiam harum incidunt sit consequatur alias
          dicta repudiandae assumenda?
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis a
          fugit accusantium, velit culpa aspernatur consequuntur. Aperiam
          voluptates voluptas, enim nulla explicabo tenetur eaque? Aperiam,
          necessitatibus amet. Suscipit, mollitia repellendus.
        </p>
      </div>
    </div>
  </body>
</html>

<!-- It's recommended that you begin developing a design for mobile devices, and then move on to desktops.
Things will get more difficult if you create a complicated desktop design and then you have to fit that into a mobile screen.

With DevTools, you can check your web page on different mobiles' sizes. Look for a cellphone and tablet icon! -->
