<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="fixed-positioning.css" />
  </head>
  <body>
    <div class="boxes">
      <!-- Your elements can have more than one class -->
      <div class="box box-one"></div>
      <div class="box box-two"></div>
      <div class="box box-three"></div>
    </div>
  </body>
</html>

<!-- Positioning
Relative: relative to the element's normal position.
Absolute: relative to the parent.
Fixed: relative to the viewport. -->
